---
title: Registration
layout: default
---

<section id="info">
<div class="page-header">
  <h1>Registration</h1>
</div>

<p style="text-align:center;">
  <a class="btn btn-primary btn-large" href="http://inscription.epfl.ch/?form=Socinfo2012">
    Register to SocInfo 2012
  </a>
</p>
<br>
<p>
  <ul>
    <li>
      <a href="mailto:socinfo2012@epfl.ch">Contact us</a> if you are having any issue with the registration process. 
    </li>
    <li>
      The supported credit cards are: Mastercard, American Express, and PostFinance.
    </li>
    <li>
      Papers get into the proceedings roughly one week after the final version is due. Therefore, authors have to register <strong>by October 7th</strong>. 
    </li>
  </ul>
</p>

<div class="page-header" style="margin-top:60px;">
  <h3>SocInfo 2012 Full Conference (5&ndash;7 December 2012)</h3>
</div>

<table class="table table-striped table-bordered" style="width:540px; margin-left:auto; margin-right:auto;">
  <colgroup span="1" style="width:60%;"></colgroup> 
  <colgroup span="1" style="width:20%;"></colgroup> 
  <colgroup span="1" style="width:20%;"></colgroup> 
  <tbody>
    <tr><td>
    </td><td>
    <strong>Regular</strong>
    </td><td>
    <strong>Student</strong>
    </td></tr>
    <tr><td>
    Early Bird Price (by Oct 31st)
    </td><td>
    CHF 550
    </td><td>
    CHF 290
    </td></tr>
    <tr><td>
    Standard Price (from Nov 1st)
    </td><td>
    CHF 600
    </td><td>
    CHF 340
    </td></tr>
  </tbody>
</table>

<div class="page-header" style="margin-top:60px;">
  <h3>Workshops/Meetings (4 December 2012)</h3>
</div>

<table class="table table-striped table-bordered" style="width:540px; margin-left:auto; margin-right:auto;">
  <colgroup span="1" style="width:60%;"></colgroup> 
  <colgroup span="1" style="width:40%;"></colgroup> 
  <tbody>
    <tr><td>
    </td><td>
    <strong>Regular</strong>
    </td></tr>
    <tr><td>
    EINS workshop
    </td><td>
    CHF 50
    </td></tr>
    <tr><td>
    JITSO workshop
    </td><td>
    free
    </td></tr>
    <tr><td>
    FuturICT meeting
    </td><td>
    CHF 50
    </td></tr>
  </tbody>
</table>
</section>

{% include top.html %}

<section id="support">
<div class="page-header">
  <h1>Student Travel Support</h1>
</div>

<p>
  The SocInfo 2012 organizing committee invites applications for small grants to help cover the travel expenses and registration. The award grant has kindly been made available by the previous SocInfo organizers.
</p>
<p>
  The grant awards will be given based on merits and preference will be given, in this order, to:
  <ol>
    <li>Student who is the author of a paper (full or short) and will be presenting at SocInfo 2012.</li>
    <li>Student who is the author of a poster or demo and will be presenting at SocInfo 2012.</li>
    <li>Student who has genuine needs for support.</li>
  </ol>
</p>
<p>
  Applications from students who have not registered to SocInfo 2012 will not be considered.
</p>

<div class="well" style="width:500px; margin-left:auto; margin-right:auto; margin-top:20px; margin-bottom:20px;">
  Interested students should <a href="mailto:socinfo2012@epfl.ch">email us</a> the following information <strong>by October 31, 2012</strong>:
  <ul>
    <li>paper title and author information (if any)</li>
    <li>breakdown of estimated travel expenses and the corresponding support from the affiliated institution</li>
    <li>scanned copy of the student ID (with photo)</li>
    <li>letter/email of support from Ph.D. advisor</li>
  </ul>
</div>
The outcome of student travel support applications will be made known <strong>by November 10, 2012</strong>.

</section>

{% include top.html %}

