---
title: Committee
layout: default
---

<div class="page-header">
  <h1>Organizing Committee</h1>
</div>

<h3>General Co-Chairs</h3>
<dl class="dl-horizontal">
  <dt><a href="http://lsir.epfl.ch/aberer/">Karl Aberer</a></dt>
  <dd>School for Computer and Communication Science, EPFL,
    Switzerland</dd>
    <dt><a href="http://www.ppsw.rug.nl/~flache/">Andreas Flache</a></dt>
  <dd>Department of Sociology, University of
  Groningen, The Netherlands</dd>
</dl>
<h3>Program Co-Chairs</h3>
<dl class="dl-horizontal">
  <dt><a href="http://www.rug.nl/staff/w.jager/index">Wander Jager</a></dt>
  <dd>Department of Sociology, University of Groningen, The
  Netherlands</dd>
  <dt><a href="http://www.cc.gatech.edu/~lingliu/">Ling Liu</a></dt>
  <dd>Georgia Institute of Technology, USA</dd>
  <dt><a href="http://keg.cs.tsinghua.edu.cn/jietang/">Jie Tang</a></dt>
  <dd>Tsinghua Univ. P.R. China</dd>
</dl>
<h3>Workshop Co-Chairs</h3>
<dl class="dl-horizontal">
  <dt><a href="http://www.maes-sociology.eu/">Michael Maes</a></dt>
  <dd>Department of Humanities, Social and Political Sciences,
  ETH Zürich, Switzerland</dd>
  <dt><a href="http://www.cl.cam.ac.uk/~cm542/">Cecilia Mascolo</a></dt>
  <dd>Computer Laboratory, Cambridge University, UK</dd>
</dl>
<h3>Tutorial Co-Chairs</h3>
<dl class="dl-horizontal">
  <dt><a href="http://users.xplornet.com/~spm/SteveMarsh/Welcome.html">Steve Marsh</a></dt>
  <dd>Communications Research Centre, Ottawa, Canada</dd>
  <dt><a href="http://camille.roth.free.fr/index.php">Camille Roth</a></dt>
  <dd>Centre d'analyse et de mathématique sociales, CNRS, France</dd>
</dl>
<h3>Poster/Demo Co-Chairs</h3>
<dl class="dl-horizontal">
  <dt><a href="http://research.nokia.com/people/jan_blom">Jan Blom</a></dt>
  <dd>Nokia Research Center, Lausanne, Switzerland</dd>
  <dt><a href="http://faculty.cs.tamu.edu/caverlee/">James Caverlee</a></dt>
  <dd>Department of Computer Science and Engineering, Texas A&amp;M
  University, USA</dd>
</dl>
<h3>Sponsorship/Exhibition Co-Chairs</h3>
<dl class="dl-horizontal">
  <dt><a href="http://ivrgwww.epfl.ch/~sabines/">Sabine Susstrunk</a></dt>
  <dd>School for Computer and Communication Science, EPFL,
  Switzerland</dd>
  <dt><a href="http://www.unil.ch/actu/page86454.html">Dominique Vinck</a></dt>
  <dd>Institut des sciences sociales, University Lausanne,
  Switzerland</dd>
</dl>
<h3>Publicity Chairs</h3>
<dl class="dl-horizontal">
  <dt><a href="http://www.csc.kth.se/~buc/">Sonja Buchegger</a></dt>
  <dd>School of Computer Science and Communication, KTH, Sweden</dd>
  <dt><a href="http://www.cs.cornell.edu/~cristian/">Cristian Danescu</a></dt>
  <dd>Department of Computer Science, Cornell University, USA</dd>
  <dt><a href="http://www.unil.ch/irsb/page27744.html">Claire Clivaz</a></dt>
  <dd>Institut romand des sciences bibliques, University
  Lausanne, Switzerland</dd>
  <dt><a href="http://www.ntu.edu.sg/home/anwitaman/">Anwitaman Datta</a></dt>
  <dd>School of Computer Engineering, NTU Singapore</dd>
</dl>
<h3>Publications Chairs</h3>
<dl class="dl-horizontal">
  <dt><a href="http://www.few.vu.nl/~cgueret/">Christophe Gueret</a></dt>
  <dd>Department of Artificial Intelligence, Vrije Universiteit
  Amsterdam, The Netherlands</dd>
  <dt>Leonard Bolc</dt>
  <dd>Polish-Japanese Institute of Information Technology, Poland</dd>
</dl>
<h3>Web Co-Chairs</h3>
<dl class="dl-horizontal">
  <dt><a href="http://fooshed.net">Michele Catasta</a></dt>
  <dd>School for Computer and Communication Science, EPFL,
  Switzerland</dd>
  <dt><a href="http://lsirpeople.epfl.ch/yerva/">Surender Reddy Yerva</a></dt>
  <dd>School for Computer and Communication Science, EPFL,
  Switzerland</dd>
</dl>
<h3>Local Organization</h3>
<dl class="dl-horizontal">
  <dt><a href="http://people.epfl.ch/chantal.francois">Chantal Francois</a></dt>
  <dd>School for Computer and Communication Science, EPFL,
  Switzerland</dd>
</dl>

{% include top.html %}

<section id="steering">
<div class="page-header">
  <h1>Steering Committee</h1>
</div>
<dl class="dl-horizontal">
  <dt style="margin-bottom:10px;"><a href="http://inflacja.net/adamw/home/index_en.php">Adam Wierzbicki, Chair</a></dt>
  <dd style="margin-bottom:10px;">Polish-Japanese Institute of Information Technology, Poland</dd>
  <dt><a href="http://lsir.epfl.ch/aberer/">Karl Aberer</a></dt>
  <dd>School for Computer and Communication Science, EPFL,
    Switzerland</dd>
  <dt><a href="http://www.dl.kuis.kyoto-u.ac.jp/~tanaka/">Katsumi Tanaka</a></dt>
  <dd>Kyoto University, Japan</dd>
  <dt><a href="http://www.ntu.edu.sg/home/anwitaman/">Anwitaman Datta</a></dt>
  <dd>Nanyang Technological University, Singapore</dd>
  <dt><a href="https://sites.google.com/site/aseplim/">Ee-Peng Lim</a></dt>
  <dd>Singapore Management University, Singapore</dd>
  <dt><a href="http://nosh.northwestern.edu/">Noshir Contractor</a></dt>
  <dd>Northwestern University, USA</dd>
  <dt><a href="http://www.soc.cornell.edu/faculty/macy.html">Michael Macy</a></dt>
  <dd>Cornell University</dd>
  <dt><a href="http://ai.arizona.edu/hchen/">Hsinchun Chen</a></dt>
  <dd>University of Arizona</dd>
  <dt><a href="http://an.kaist.ac.kr/~sbmoon/">Sue B. Moon</a></dt>
  <dd>Korea Advanced Institute of Science and Technology</dd>
</dl>
</section>

{% include top.html %}

<section id="program">
<div class="page-header">
  <h1>Program Committee</h1>
</div>
<dl class="dl-horizontal">
  <dt><a href="http://www.irit.fr/~Frederic.Amblard">Fred Amblard</a></dt>
  <dd>CNRS IRIT - Universit des Sciences Sociales Toulouse 1</dd>
  <dt><a href="http://homepages.inf.ed.ac.uk/soa/">Stuart Anderson</a></dt>
  <dd>University of Edinburgh</dd>
  <dt><a href="http://www.imageresearch.org.uk/">Emma Angus</a></dt>
  <dd>University of Wolverhampton</dd>
  <dt><a href="http://www.hpl.hp.com/people/sitaram_asur/">Sitaram Asur</a></dt>
  <dd>HP Labs</dd>
  <dt><a href="http://communication.ucdavis.edu/people/gbarnett">George Barnett</a></dt>
  <dd>University of California</dd>
  <dt>Michael Baron</dt>
  <dd>Baron Consulting</dd>
  <dt><a href="http://liris.cnrs.fr/membres/?idn=nbennani&onglet=publique">Nadia Bennani</a></dt>
  <dd>Lab. LIRIS INSA de Lyon</dd>
  <dt><a href="http://www.ifi.uzh.ch/ddis/people/bernstein.html">Abraham Bernstein</a></dt>
  <dd>University of Zurich</dd>
  <dt><a href="http://dbis.ipd.uni-karlsruhe.de/336.php">Klemens Böhm</a></dt>
  <dd>Universität Karlsruhe (TH)</dd>
  <dt><a href="http://areadocenti.eco.unicas.it/bolici/home/">Francesco Bolici</a></dt>
  <dd>Cassino University</dd>
  <dt><a href="http://bostandjiev.com/">Svetlin Bostandjiev</a></dt>
  <dd>University of California Santa Barbara</dd>
  <dt><a href="http://www.inf.uni-konstanz.de/~brandes/">Ulrik Brandes</a></dt>
  <dd>University of Konstanz</dd>
  <dt><a href="http://disi.unitn.it/~chopra">Amit Chopra</a></dt>
  <dd>University of Trento</dd>
  <dt><a href="http://scholar.google.com/citations?user=ln46HlkAAAAJ&hl=en">Chris Cornelis</a></dt>
  <dd>University of Granada</dd>
  <dt><a href="http://www.cwi.ugent.be/">Martine De Cock</a></dt>
  <dd>Ghent University, Dept. of Applied Mathematics and Computer Science</dd>
  <dt><a href="http://www.deMontjoye.com">Yves-Alexandre de Montjoye</a></dt>
  <dd>Massachusetts Institute of Technology</dd>
  <dt><a href="http://wwwlisc.clermont.cemagref.fr">Guillaume Deffuant</a></dt>
  <dd>Cemagref</dd>
  <dt><a href="http://www.dellarocas.com">Chris Dellarocas</a></dt>
  <dd>Boston University</dd>
  <dt><a href="http://people.lis.illinois.edu/~jdiesner/">Jana Diesner</a></dt>
  <dd>University of Illinois at Urbana-Champaign</dd>
  <dt><a href="http://www.cs.ucy.ac.cy/~mdd/">Marios Dikaiakos</a></dt>
  <dd>University of Cyprus</dd>
  <dt><a href="http://www.slis.indiana.edu/faculty/spotlight/index.php?facid=218">Ying Ding</a></dt>
  <dd>Indiana University</dd>
  <dt><a href="http://iir.ruc.edu.cn/">Xiaoyong Du</a></dt>
  <dd>Renmin University of China</dd>
  <dt><a href="http://bruce.edmonds.name">Bruce Edmonds</a></dt>
  <dd>Manchester Metropolitan University Business School</dd>
  <dt><a href="http://www.uni-kassel.de/go/ernst">Andreas Ernst</a></dt>
  <dd>University of Kassel, Kassel, Germany</dd>
  <dt><a href="http://www.pervasive.jku.at/About_Us/Staff/Ferscha/">Alois Ferscha</a></dt>
  <dd>University of Linz</dd>
  <dt><a href="http://en.wikipedia.org/wiki/Richard_Forno">Richard Forno</a></dt>
  <dd>UMBC</dd>
  <dt><a href="http://www.linkedin.com/pub/helj%C3%A4-franssila/0/b30/b3a">Heljä Franssila</a></dt>
  <dd>University of Tampere</dd>
  <dt><a href="http://www.beds.ac.uk/howtoapply/departments/computing/staff/tim-french">Timothy French</a></dt>
  <dd>Bedfordshire University</dd>
  <dt><a href="http://appliedcogsci.vp.uiuc.edu">Wai-Tat Fu</a></dt>
  <dd>University of Illinois</dd>
  <dt><a href="http://fuchsresearch.de/">Gerhard Fuchs</a></dt>
  <dd>university of stuttgart</dd>
  <dt><a href="http://www.armandogeller.org">Armando Geller</a></dt>
  <dd>Scensei</dd>
  <dt><a href="http://www.fsw.vu.nl/en/departments/organization-sciences/staff/groenewegen/index.asp">Peter Groenewegen</a></dt>
  <dd>VU University</dd>
  <dt><a href="http://researcher.watson.ibm.com/researcher/view.php?person=il-IDO">Ido Guy</a></dt>
  <dd>IBM Research</dd>
  <dt><a href="http://directory.cci.fsu.edu/chris-hinnant/">Chris Hinnant</a></dt>
  <dd>Florida State University</dd>
  <dt><a href="http://www.iis.sinica.edu.tw/IASL/hsu/eindex.html">Wenlian Hsu</a></dt>
  <dd>Academia Sinica</dd>
  <dt><a href="http://www.cs.nccu.edu.tw/~jong">Yuh-Jong Hu</a></dt>
  <dd>National Chengchi University</dd>
  <dt><a href="http://www.linkedin.com/in/badenh">Baden Hughes</a></dt>
  <dd>The University of Melbourne</dd>
  <dt><a href="http://www.humer.de">Stephan Humer</a></dt>
  <dd>Berlin University of the Arts</dd>
  <dt><a href="http://www.public.asu.edu/~majansse/">Marco Janssen</a></dt>
  <dd>Arizona State University</dd>
  <dt><a href="http://www.inf.u-szeged.hu/~jelasity/">Mark Jelasity</a></dt>
  <dd>University of Szeged</dd>
  <dt><a href="http://www.sis.pitt.edu/~jjoshi">James Joshi</a></dt>
  <dd>University of Pittsburgh</dd>
  <dt><a href="http://www.radujurca.info/">Radu Jurca</a></dt>
  <dd>Google Inc. Switzerland</dd>
  <dt><a href="http://www-poleia.lip6.fr/~kant/">Jean-Daniel Kant</a></dt>
  <dd>Pierre and Marie Curie - Paris VI</dd>
  <dt><a href="http://www.zsi.pwr.wroc.pl/~kazienko/eng_index.html">Przemysław Kazienko</a></dt>
  <dd>Wroclaw University of Technology</dd>
  <dt><a href="http://www.uni-salzburg.at/sogeo/a.koch">Andreas Koch</a></dt>
  <dd>University of Salzburg</dd>
  <dt><a href="http://www.du.edu">Walter Lamendola</a></dt>
  <dd>University of Denver</dd>
  <dt><a href="http://kastoria.teikoz.gr/pr/html_eng/wrap.php?file=/pr/html_eng/PHPpages/academic/teacher.php&teacherid=2">Georgios Lappas</a></dt>
  <dd>Technological Educational Institute (T.E.I.) of Western Macedonia, Kastoria Campus, Greece</dd>
  <dt><a href="http://www.dcl.info.waseda.ac.jp/~yefeng/">Yefeng Liu</a></dt>
  <dd>Department of Computer Science, Waseda Univerisity</dd>
  <dt><a href="http://www.esl.fim.uni-passau.de/page/?id=16">Paul Lukowicz</a></dt>
  <dd>University of Passau</dd>
  <dt><a href="http://www.christophermascaro.com">Christopher Mascaro</a></dt>
  <dd>Drexel University</dd>
  <dt><a href="http://smallsocialsystems.com">Winter Mason</a></dt>
  <dd>Stevens Institute of Technology</dd>
  <dt><a href="http://www.gnuband.org">Paolo Massa</a></dt>
  <dd>Bruno Kessler Foundation</dd>
  <dt><a href="http://users.ecs.soton.ac.uk/dem/">David Millard</a></dt>
  <dd>University of Southampton</dd>
  <dt><a href="http://maya.cs.depaul.edu/~mobasher/">Bamshad Mobasher</a></dt>
  <dd>DePaul University</dd>
  <dt><a href="http://www.linkedin.com/in/tomoore">Tony Moore</a></dt>
  <dd>Deloitte Analytics</dd>
  <dt><a href="http://www.cs.put.poznan.pl/mmorzy">Mikołaj Morzy</a></dt>
  <dd>Poznan University of Technology</dd>
  <dt><a href="http://www.ai.cs.titech.ac.jp/murata.html">Tsuyoshi Murata</a></dt>
  <dd>Tokyo Institute of Technology</dd>
  <dt><a href="http://www.henley.reading.ac.uk/about/staff/k-nakata.aspx">Keiichi Nakata</a></dt>
  <dd>University of Reading</dd>
  <dt><a href="http://www.ctg.albany.edu/about/about?sub=people&section=nam">Taewoo Nam</a></dt>
  <dd>Center for Technology in Government, University at Albany, State University of New York</dd>
  <dt><a href="http://www.kbs.uni-hannover.de/~nejdl/">Wolfgang Nejdl</a></dt>
  <dd>L3S and University of Hannover</dd>
  <dt><a href="http://www.robertcat.net/neubauer/index.html">Bruce Neubauer</a></dt>
  <dd>Albany State University</dd>
  <dt><a href="http://datam.i2r.a-star.edu.sg/~skng">See-Kiong Ng</a></dt>
  <dd>Institute for Infocomm Research</dd>
  <dt>Carlos Nunes Silva</dt>
  <dd>University of Lisbon</dd>
  <dt><a href="http://www.cs.umass.edu/~hoktay">Huseyin Oktay</a></dt>
  <dd>University of Massachusetts, Amherst</dd>
  <dt><a href="http://www.social-informatics.net/">Anne-Marie Oostveen</a></dt>
  <dd>Oxford Internet Institute</dd>
  <dt><a href="http://www.istc.cnr.it/people/mario-paolucci">Mario Paolucci</a></dt>
  <dd>Institute of Cognitive Sciences and Technologies</dd>
  <dt><a href="http://research.google.com/pubs/author36234.html">Elin Rønby Pedersen</a></dt>
  <dd>Google</dd>
  <dt><a href="http://www.linkedin.com/pub/gregor-petric/3/769/631">Gregor Petrič</a></dt>
  <dd>Faculty of Social Sciences, Uni of Ljubljana, Slovenia</dd>
  <dt><a href="http://www.cs.ucl.ac.uk/staff/d.quercia/">Daniele Quercia</a></dt>
  <dd>Universtiy College London</dd>
  <dt><a href="http://ella.slis.indiana.edu/~arobbin/">Alice Robbin</a></dt>
  <dd>Indiana University</dd>
  <dt><a href="https://tuhat.halvi.helsinki.fi/portal/en/persons/sini-ruohomaa(aae80b60-5dd8-403e-bab6-40d07dacbbcc).html">Sini Ruohomaa</a></dt>
  <dd>University of Helsinki, Finland</dd>
  <dt><a href="http://www.ndu.edu/icollege/facultystaff/seaver.htm">Geoffery Seaver</a></dt>
  <dd>National Defense University</dd>
  <dt><a href="http://kalpanashankar.com">Kalpana Shankar</a></dt>
  <dd>Indiana University-Bloomington</dd>
  <dt><a href="https://sites.google.com/site/shixiaolin/">Xiaolin Shi</a></dt>
  <dd>Microsoft Corporation</dd>
  <dt><a href="http://www.cs.vsb.cz/snasel">Vaclav Snasel</a></dt>
  <dd>VSB-Technical University of Ostrava</dd>
  <dt><a href="http://www.ru.ac.th">Thanakorn Sornkaew</a></dt>
  <dd>Ramkhamheang University</dd>
  <dt><a href="nte/articolo1758.html">Flaminio Squazzoni</a></dt>
  <dd>Dipartimento di Studi Sociali, Università di Brescia</dd>
  <dt><a href="http://www.p2p.tu-darmstadt.de">Thorsten Strufe</a></dt>
  <dd>TU Darmstadt</dd>
  <dt><a href="http://www.ebay.com">Neel Sundaresan</a></dt>
  <dd>eBay Research Labs</dd>
  <dt><a href="http://www.ahref.eu/it/ricerca/gruppo-di-ricerca-1/maurizio-teli">Maurizio Teli</a></dt>
  <dd>Fondazione Ahref</dd>
  <dt><a href="http://www.uni-koblenz.de/~kgt">Klaus G Troitzsch</a></dt>
  <dd>University of Koblenz-Landau</dd>
  <dt><a href="http://www.cs.usask.ca/faculty/julita/">Julita Vassileva</a></dt>
  <dd>University of Saskatchewan</dd>
  <dt>Miguel Vicente</dt>
  <dd>Universidad de Valladolid</dd>
  <dt><a href="http://people.ecs.soton.ac.uk/mjw/">Mark Weal</a></dt>
  <dd>University of Southampton</dd>
  <dt><a href="http://www.cs.cf.ac.uk/contactsandpeople/staffpage.php?emailname=r.m.whitaker">Roger Whitaker</a></dt>
  <dd>Cardiff University</dd>
  <dt><a href="http://www.nandawijermans.nl/">Nanda Wijermans</a></dt>
  <dd>University of Utrecht</dd>
  <dt><a href="http://www.cs.utsa.edu/~wzhang">Weining Zhang</a></dt>
  <dd>University of Texas at San Antonio, USA</dd>
</dl>
</section>

{% include top.html %}
