---
title: Committee
layout: default
---

<div class="page-header">
  <h1>Organizing Committee</h1>
</div>

<h3>General Co&dash;Chairs</h3>
<dl class="dl-horizontal">
  <dt><a href="http://lsir.epfl.ch/aberer/">Karl Aberer</a></dt>
  <dd>School for Computer and Communication Science, EPFL,
    Switzerland</dd>
    <dt><a href="http://www.ppsw.rug.nl/~flache/">Andreas Flache</a></dt>
  <dd>Department of Sociology, University of
  Groningen, The Netherlands</dd>
</dl>
<h3>Program Co&dash;Chairs</h3>
<dl class="dl-horizontal">
  <dt><a href="http://www.rug.nl/staff/w.jager/index">Wander Jager</a></dt>
  <dd>Department of Sociology, University of Groningen, The
  Netherlands</dd>
  <dt><a href="http://www.cc.gatech.edu/~lingliu/">Ling Liu</a></dt>
  <dd>Georgia Institute of Technology, USA</dd>
  <dt><a href="http://keg.cs.tsinghua.edu.cn/jietang/">Jie Tang</a></dt>
  <dd>Tsinghua Univ. P.R. China</dd>
</dl>
<h3>Workshop Co&dash;Chairs</h3>
<dl class="dl-horizontal">
  <dt><a href="http://www.maes-sociology.eu/">Michael Maes</a></dt>
  <dd>Department of Humanities, Social and Political Sciences,
  ETH Zürich, Switzerland</dd>
  <dt><a href="http://www.cl.cam.ac.uk/~cm542/">Cecilia Mascolo</a></dt>
  <dd>Computer Laboratory, Cambridge University, UK</dd>
</dl>
<h3>Tutorial Co&dash;Chairs</h3>
<dl class="dl-horizontal">
  <dt><a href="http://users.xplornet.com/~spm/SteveMarsh/Welcome.html">Steve Marsh</a></dt>
  <dd>Communications Research Centre, Ottawa, Canada</dd>
  <dt><a href="http://camille.roth.free.fr/index.php">Camille Roth</a></dt>
  <dd>Centre d'analyse et de mathématique sociales, CNRS, France</dd>
</dl>
<h3>Poster/Demo Co&dash;Chairs</h3>
<dl class="dl-horizontal">
  <dt><a href="http://research.nokia.com/people/jan_blom">Jan Blom</a></dt>
  <dd>Nokia Research Center, Lausanne, Switzerland</dd>
  <dt><a href="http://faculty.cs.tamu.edu/caverlee/">James Caverlee</a></dt>
  <dd>Department of Computer Science and Engineering, Texas A&amp;M
  University, USA</dd>
</dl>
<h3>Sponsorship/Exhibition Co&dash;Chairs</h3>
<dl class="dl-horizontal">
  <dt><a href="http://ivrgwww.epfl.ch/~sabines/">Sabine Susstrunk</a></dt>
  <dd>School for Computer and Communication Science, EPFL,
  Switzerland</dd>
  <dt><a href="http://www.unil.ch/actu/page86454.html">Dominique Vinck</a></dt>
  <dd>Institut des sciences sociales, University Lausanne,
  Switzerland</dd>
</dl>
<h3>Publicity Chairs</h3>
<dl class="dl-horizontal">
  <dt><a href="http://www.csc.kth.se/~buc/">Sonja Buchegger</a></dt>
  <dd>School of Computer Science and Communication, KTH, Sweden</dd>
  <dt><a href="http://www.cs.cornell.edu/~cristian/">Cristian Danescu</a></dt>
  <dd>Department of Computer Science, Cornell University, USA</dd>
  <dt><a href="http://www.unil.ch/irsb/page27744.html">Claire Clivaz</a></dt>
  <dd>Institut romand des sciences bibliques, University
  Lausanne, Switzerland</dd>
  <dt><a href="http://www.ntu.edu.sg/home/anwitaman/">Anwitaman Datta</a></dt>
  <dd>School of Computer Engineering, NTU Singapore</dd>
</dl>
<h3>Publications Chairs</h3>
<dl class="dl-horizontal">
  <dt><a href="http://www.few.vu.nl/~cgueret/">Christophe Gueret</a></dt>
  <dd>Department of Artificial Intelligence, Vrije Universiteit
  Amsterdam, The Netherlands</dd>
  <dt>Leonard Bolz</dt>
  <dd>Polish-Japanese Institute of Information Technology, Poland</dd>
</dl>
<h3>Web Co&dash;Chairs</h3>
<dl class="dl-horizontal">
  <dt><a href="http://fooshed.net">Michele Catasta</a></dt>
  <dd>School for Computer and Communication Science, EPFL,
  Switzerland</dd>
  <dt><a href="http://lsirpeople.epfl.ch/yerva/">Surender Reddy Yerva</a></dt>
  <dd>School for Computer and Communication Science, EPFL,
  Switzerland</dd>
</dl>
<h3>Local Organization</h3>
<dl class="dl-horizontal">
  <dt><a href="http://people.epfl.ch/chantal.francois">Chantal Francois</a></dt>
  <dd>School for Computer and Communication Science, EPFL,
  Switzerland</dd>
</dl>

{% include top.html %}

<div class="page-header" id="steering">
  <h1>Steering Committee</h1>
</div>
<dl class="dl-horizontal">
  <dt style="margin-bottom:10px;"><a href="http://inflacja.net/adamw/home/index_en.php">Adam Wierzbicki, Chair</a></dt>
  <dd style="margin-bottom:10px;">Polish-Japanese Institute of Information Technology, Poland</dd>
  <dt><a href="http://lsir.epfl.ch/aberer/">Karl Aberer</a></dt>
  <dd>School for Computer and Communication Science, EPFL,
    Switzerland</dd>
  <dt><a href="http://www.dl.kuis.kyoto-u.ac.jp/~tanaka/">Katsumi Tanaka</a></dt>
  <dd>Kyoto University, Japan</dd>
  <dt><a href="http://www.ntu.edu.sg/home/anwitaman/">Anwitaman Datta</a></dt>
  <dd>Nanyang Technological University, Singapore</dd>
  <dt><a href="https://sites.google.com/site/aseplim/">Ee-Peng Lim</a></dt>
  <dd>Singapore Management University, Singapore</dd>
  <dt><a href="http://nosh.northwestern.edu/">Noshir Contractor</a></dt>
  <dd>Northwestern University, USA</dd>
  <dt><a href="http://www.soc.cornell.edu/faculty/macy.html">Michael Macy</a></dt>
  <dd>Cornell University</dd>
  <dt><a href="http://ai.arizona.edu/hchen/">Hsinchun Chen</a></dt>
  <dd>University of Arizona</dd>
  <dt><a href="http://an.kaist.ac.kr/~sbmoon/">Sue B. Moon</a></dt>
  <dd>Korea Advanced Institute of Science and Technology</dd>
</dl>

{% include top.html %}

