---
title: Committee
layout: default
---

<div class="page-header">
  <h1>Organizing Committee</h1>
</div>

<h3>General Co&dash;Chairs</h3>
<dl class="dl-horizontal">
  <dt>Karl Aberer</dt>
  <dd>School for Computer and Communication Science, EPFL,
    Switzerland</dd>
  <dt>Andreas Flache</dt>
  <dd>Department of Sociology, University of
  Groningen, The Netherlands</dd>
</dl>
<h3>Program Co&dash;Chairs</h3>
<dl class="dl-horizontal">
  <dt>Wander Jager</dt>
  <dd>Department of Sociology, University of Groningen, The
  Netherlands</dd>
  <dt>Ling Liu</dt>
  <dd>Georgia Institute of Technology, USA</dd>
  <dt>Jie Tang</dt>
  <dd>Tsinghua Univ. P.R. China</dd>
</dl>
<h3>Workshop Co&dash;Chairs</h3>
<dl class="dl-horizontal">
  <dt>Michael Maes</dt>
  <dd>Department of Humanities, Social and Political Sciences,
  ETH Zürich, Switzerland</dd>
  <dt>Cecilia Mascolo</dt>
  <dd>Computer Laboratory, Cambridge University, UK</dd>
</dl>
<h3>Tutorial Co&dash;Chairs</h3>
<dl class="dl-horizontal">
  <dt>Steve Marsh</dt>
  <dd>Communications Research Centre, Ottawa, Canada</dd>
  <dt>Camille Roth</dt>
  <dd>Centre d'analyse et de mathématique sociales, CNRS, France</dd>
</dl>
<h3>Poster/Demo Co&dash;Chairs</h3>
<dl class="dl-horizontal">
  <dt>Jan Blom</dt>
  <dd>Nokia Research Center, Lausanne, Switzerland</dd>
  <dt>James Caverlee</dt>
  <dd>Department of Computer Science and Engineering, Texas A&amp;M
  University, USA</dd>
</dl>
<h3>Sponsorship/Exhibition Co&dash;Chairs</h3>
<dl class="dl-horizontal">
  <dt>Sabine Susstrunk</dt>
  <dd>School for Computer and Communication Science, EPFL,
  Switzerland</dd>
  <dt>Dominique Vinck</dt>
  <dd>Institut des sciences sociales, University Lausanne,
  Switzerland</dd>
</dl>
<h3>Publicity Chairs</h3>
<dl class="dl-horizontal">
  <dt>Sonja Buchegger</dt>
  <dd>School of Computer Science and Communication, KTH, Sweden</dd>
  <dt>Cristian Danescu</dt>
  <dd>Department of Computer Science, Cornell University, USA</dd>
  </br>
  <dt>Claire Clivaz</dt>
  <dd>Institut romand des sciences bibliques, University
  Lausanne, Switzerland</dd>
  <dt>Anwitaman Datta</dt>
  <dd>School of Computer Engineering, NTU Singapore</dd>
</dl>
<h3>Publications Chairs</h3>
<dl class="dl-horizontal">
  <dt>Christophe Gueret</dt>
  <dd>Department of Artificial Intelligence, Vrije Universiteit
  Amsterdam, The Netherlands</dd>
  <dt>Leonard Bolz</dt>
  <dd>Polish-Japanese Institute of Information Technology, Poland</dd>
</dl>
<h3>Web Co&dash;Chairs</h3>
<dl class="dl-horizontal">
  <dt>Michele Catasta</dt>
  <dd>School for Computer and Communication Science, EPFL,
  Switzerland</dd>
  <dt>Surender Reddy Yerva</dt>
  <dd>School for Computer and Communication Science, EPFL,
  Switzerland</dd>
</dl>
<h3>Local Organization</h3>
<dl class="dl-horizontal">
  <dt>Chantal Francois</dt>
  <dd>School for Computer and Communication Science, EPFL,
  Switzerland</dd>
</dl>

{% include top.html %}

<div class="page-header" id="steering">
  <h1>Steering Committee</h1>
</div>
<dl class="dl-horizontal">
  <dt style="margin-bottom:10px;">Adam Wierzbicki, Chair</dt>
  <dd style="margin-bottom:10px;">Polish-Japanese Institute of Information Technology, Poland</dd>
  <dt>Karl Aberer</dt>
  <dd>School for Computer and Communication Science, EPFL,
    Switzerland</dd>
  <dt>Katsumi Tanaka</dt>
  <dd>Kyoto University, Japan</dd>
  <dt>Anwitaman Datta</dt>
  <dd>Nanyang Technological University, Singapore</dd>
  <dt>Ee-Peng Lim</dt>
  <dd>Singapore Management University, Singapore</dd>
  <dt>Noshir Contractor</dt>
  <dd>Northwestern University, USA</dd>
  <dt>Michael Macy</dt>
  <dd>Cornell University</dd>
  <dt>Hsinchun Chen</dt>
  <dd>University of Arizona</dd>
  <dt>Sue B. Moon</dt>
  <dd>Korea Advanced Institute of Science and Technology</dd>
</dl>

{% include top.html %}

