---
title: Call for Papers
layout: default
---
<div class="page-header">
  <h1>Call for Papers</h1>
</div>
<div class="well" style="text-align:center;">
  <h4>You can now <a href="https://www.easychair.org/conferences/?conf=socinfo2012">submit your SocInfo 2012 paper</a> on EasyChair.</h4>
</div>
<div class="row-fluid">
  <div class="span5" style="text-align:justify;">
    The <em>International Conference on Social Informatics</em> (<strong>SocInfo 2012</strong>) is an interdisciplinary venue for
      researchers from Computer Science, Informatics, Social Sciences and Management Sciences to share ideas
      and opinions, and present original research work on studying the interplay between socially-centric
      platforms and social phenomena. The ultimate goal of Social Informatics is to create better understanding of
      socially-centric platforms not just as a technology, but also as a set of social phenomena. To that end, we are
      inviting <strong>interdisciplinary papers</strong>, on applying information technology in the study of social phenomena, on
      applying social concepts in the design of information systems, on applying methods from the social sciences
      in the study of social computing and information systems, on applying computational algorithms to facilitate
      the study of social systems and human social dynamics, and on designing information and communication
      technologies that consider social context.
  </div>
  <div class="span2" style="text-align:justify;">
  </div>
  <div class="span5" style="text-align:justify;">
      A special focus of <strong>SocInfo 2012</strong> is on how technology can influence social phenomena through better
      motivation of human agents, through the use of social norms, through better modeling, or through a better
      understanding of social concepts like trust, credibility, privacy, and fairness. To this end we are <strong>especially
      inviting</strong> contributions demonstrating <em>how behavioral theory can be formalized in agent-based models
      to study social dynamics</em>. It is the expectation that this contributes to a further development of the social
      sciences with respect to studying and explaining various behavioral dynamics, such as opinion dynamics,
      social conflict, innovation diffusion, market dynamics, and crowd behavior. On the other hand, the creation
      of a coherent social behavioral model that is formulated as an agent system is a prerequisite for further
      development of socially-centric platforms and for the testing of new algorithms that use social concepts and
      attempt to realize social goals.
  </div>
</div><!--/.row-fluid-->

{% include top.html %}

<section id="topics">
<div class="page-header">
  <h1>Topics</h1>
</div>
<p>
  The conference solicits original research papers and experience-based 
  case study papers. Detailed research topics of interest 
  for this conference include, but are not limited to:
</p>
</br>

<table class="table table-striped table-bordered">
  <tbody>
    <tr><td><i class="icon-tag"></i>
    Computational models of social phenomena, social
    simulation
    </td><td><i class="icon-tag"></i>
    Social choice mechanisms in the e-society
    </td></tr>
    <tr><td><i class="icon-tag"></i>
    Social networks: discovery, evolution, analysis,
    applications
    </td><td><i class="icon-tag"></i>
    Social Behavior Modeling
    </td></tr>
    <tr><td><i class="icon-tag"></i>
    Web mining and its social interpretations
    </td><td><i class="icon-tag"></i>
    Social Influence and Diffusion Models of Social
    Influence
    </td></tr>
    <tr><td><i class="icon-tag"></i>
    Security, privacy, trust, reputation and incentive issues
    </td><td><i class="icon-tag"></i>
    Social Communities and Social Network Analysis
    </td></tr>
    <tr><td><i class="icon-tag"></i>
    Design and analysis of social/collaborative Web
    applications
    </td><td><i class="icon-tag"></i>
    Social Interactions and Collaboration
    </td></tr>
    <tr><td><i class="icon-tag"></i>
    Algorithms and protocols inspired by human societies
    </td><td><i class="icon-tag"></i>
    Socio-economic Systems and Applications
    </td></tr>
    <tr><td><i class="icon-tag"></i>
    Mechanisms for providing fairness in information
    systems
    </td><td><i class="icon-tag"></i>
    Virtual communities (e.g., open-source, multiplayer
    gaming)
    </td></tr>
    <tr><td><i class="icon-tag"></i>
    Impact of technology on socio-economic
    </td><td><i class="icon-tag"></i>
    Recommendation systems
    </td></tr>
    <tr><td><i class="icon-tag"></i>
    Visualization of dynamic social networks
    </td><td><i class="icon-tag"></i>
    Social applications of the Semantic Web
    </td></tr>
    <tr><td><i class="icon-tag"></i>
    Social Informatics Theory
    </td><td><i class="icon-tag"></i>
    Social system design and architectures
    </td></tr>
    <tr><td><i class="icon-tag"></i>
    Trust, Privacy, Risk and Security in Social Contexts
    </td><td><i class="icon-tag"></i>
    Social Intelligence and Social Cognition
    </td></tr>
    <tr><td><i class="icon-tag"></i>
    Social media analytics and social media intelligence
    </td><td><i class="icon-tag"></i>
    Emotional Intelligence and Data Mining
    </td></tr>
  </tbody>
</table>
</section>

{% include top.html %}

<section id="dates">
<div class="page-header">
  <h1>Important Dates</h1>
</div>
<div class="well" style="text-align:center;">
  <h4>You can now <a href="https://www.easychair.org/conferences/?conf=socinfo2012">submit your SocInfo 2012 paper</a> on EasyChair.</h4>
</div>
<div class="row-fluid">
  <div class="span6">
    <div class="well">
      <h3>Research Papers</h3>
      <ul>
        <li> Full paper submission:<br>
        &nbsp; <del>July 7, 2012</del> <strong>July 14, 2012</strong> (23:59 CEST)
        <li> Notification of acceptance:<br>
        &nbsp; <del>August 31, 2012</del> September 15, 2012
        <li> Submission of final version:<br>
        &nbsp; <del>September 14, 2012</del> September 30, 2012
      </ul>
    </div>
  </div>
  <div class="span6 offset6">
    <div class="well">
      <h3>Poster/Demonstration Papers</h3>
      <ul>
        <li> Poster/Demo submission: <strong>July 28, 2012</strong>
        <li> Notification of acceptance:<br>
        &nbsp; <del>August 31, 2012</del> September 15, 2012
        <li> Submission of final version:<br>
        &nbsp; <del>September 14, 2012</del> September 30, 2012
      </ul>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <div class="well">
      <h3>Tutorial Proposals</h3>
      <ul>
        <li> Due on: <strong>July 28, 2012</strong>
        <li> Tutorial notification: August 31, 2012
      </ul>
    </div>
  </div>
  <div class="span6 offset6">
    <div class="well">
      <h3>Panel Proposals</h3>
      <ul>
        <li> Due on: <strong>July 28, 2012</strong>
        <li> Panel notification: August 31, 2012
      </ul>
    </div>
  </div>
</div>
</section>

{% include top.html %}

<section id="format">
<div class="page-header">
  <h1>Submission Format</h1>
</div>

<div>
  <dl>
    <p>
      <dt>Paper Submission Instructions</dt>
      <dd>Authors are invited to submit original, unpublished
      research papers that are not being considered in another 
      forum. The proceeding of the conference will be published by
      Springer Verlag under the Lecture Note Series in Computer
      Science (LNCS). Manuscripts must be in <a
        href="http://www.springer.com/computer/lncs?SGWID=0-164-6-793341-0"p>
        Springer format.</a>
      Electronic submission of manuscripts (in PDF or Word
      formats) is required.</dd>
    </p>
    <p>
      <dt>Research papers should not contain author names for
      purpose of double-blind review</dt>
      <dd>They should be submitted in PDF format and should not exceed the page limit
      of <strong>14 pages</strong>. Paper acceptance can be regular paper,
      short paper or poster.</dd>
    </p>
    <p>
      <dt>Poster and demo submissions do not go through double-blind review</dt>
      <dd>A poster/demo paper should be
      submitted in PDF format and should not exceed the page limit
      of <strong>4 pages</strong>. The accepted poster/demo papers will be
      included in the conference proceedings.</dd>
    </p>
    <p>
      <dt>Publisher of the Proceedings</dt>
      <dd>The Proceedings of SocInfo 2012 will be published by 
      <a href="http://www.springer.com/">Springer</a> in the <em>Lecture Notes in Computer Science</em> series.
      Previous years' proceedings (published as well by Springer) are available online: 
      namely, <a href="http://www.springer.com/computer/database+management+%26+information+retrieval/book/978-3-642-16566-5">2010</a>
      and <a href="http://www.springer.com/computer/database+management+%26+information+retrieval/book/978-3-642-24703-3">2011</a>.</dd>
    </p>
  </dl>
</div>
</section>
{% include top.html %}

