<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% if page.title %}
        {{ page.title }} - SocInfo 2012
      {% else %}
        SocInfo 2012
      {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SocInfo 2012, the 4th International
        Conference on Social Informatics">
    <meta name="author" content="LSIR, EPFL">

    <!-- Le styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
    <link href="/css/socinfo.less" rel="stylesheet/less" type="text/css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav icon -->
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- Tracking le website like a Sir with Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30926708-1']);
      _gaq.push(['_setDomainName', 'socinfo2012.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body id="top">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="http://www.socinfo2012.com">
            <img src="/img/socinfo-logo-navbar.png" />
          </a>
          <div>
            <a href="http://ic.epfl.ch/">
              <img src="/img/epfl-logo-inverse.png" alt="I&C EPFL"
              style="float:right;margin-top:4px;margin-left:20px;"/>
            </a>
          </div>
          <div class="hidden-phone">
            <p class="navbar-text pull-right">
              5&ndash;7 December 2012, Lausanne, Switzerland  
            </p>
          </div><!--/.hidden-phone-->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li><span>
                <i class="icon-home"></i><a href="/">Home</a>
              </span></li>
              <li class="nav-header"><a data-toggle="collapse" href="#cfp"><i class="icon-book"></i>Call for Papers</a></li>
              <div id="cfp" class="collapse">
                <li><a href="/call-for-papers/#intro">Intro</a></li>
                <li><a href="/call-for-papers/#topics">Topics</a></li>
                <li><a href="/call-for-papers/#dates">Important Dates</a></li>
                <li><a href="/call-for-papers/#format">Submission Format</a></li>
              </div>
              <li class="divider"></li>
              <li class="nav-header"><i class="icon-th-list"></i>Conference</li>
              <li><a href="/program/#keynotes">Keynotes</a></li>
              <li><a href="/program/#papers">Accepted Papers</a></li>
              <li><a href="/program/#schedule">Program</a></li>
              <li><a href="/program/#workshops">Workshops</a></li>
              <li class="nav-header"><i class="icon-user"></i>Participants</li>
              <li><a href="/registration/#info">Registration</a></li>
              <li><a href="/registration/#support">Student Travel Support</a></li>
              <li><a href="/accommodation/">Accommodation</a></li>
              <li class="nav-header"><i class="icon-globe"></i>Location</li>
              <li><a href="/location/#venue">Conference Venue</a></li>
              <li><a href="/location/#EPFL">EPFL</a></li>
              <li><a href="/location/#Lausanne">Lausanne</a></li>
              <li class="nav-header"><i class="icon-briefcase"></i>Committees</li>
              <li><a href="/committee/#organizing">Organizing Committee</a></li>
              <li><a href="/committee/#steering">Steering Committee</a></li>
              <li><a href="/committee/#program">Program Committee</a></li>
              <li class="divider"></li>
              <li class="nav-header"><a data-toggle="collapse" href="#editions"><i class="icon-backward"></i>Past Editions</a></li>
              <div id="editions" class="collapse">
                <li><a href="http://www.sis.smu.edu.sg/SocInfo2011/index.html">SocInfo 2011</a></li>
                <li><a href="http://sieci.pjwstk.edu.pl/SocInfo2010.php/">SocInfo 2010</a></li>
                <li><a href="http://sieci.pjwstk.edu.pl/socinfo.php">SocInfo 2009</a></li>
              </div>
            </ul>
          </div><!--/.well -->
        </div><!--/span2-->

        <div class="span10 span-fixed-sidebar">
          <div class="span9">

            <!!--page content-->
            {{ content }}
          </div>

          <div class="span3 visible-desktop">
            <div class="twitter">
              <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
              <script>
              new TWTR.Widget({
                version: 2,
                type: 'profile',
                rpp: 4,
                interval: 30000,
                width: 'auto',
                height: 300,
                theme: {
                  shell: {
                    background: '#333333',
                    color: '#ffffff'
                  },
                  tweets: {
                    background: '#f5f5f5',
                    color: '#000000',
                    links: '#0088cc'
                  }
                },
                features: {
                  scrollbar: false,
                  loop: false,
                  live: false,
                  behavior: 'all'
                }
              }).render().setUser('SocInfo2012').start();
              </script>
            </div>
          </div><!--/.span3-->

          
        </div><!--/span10-->
      </div><!--/.row-fluid-->
    </div><!--/.container-fluid-->
    
      <!-- footer -->
      <div class="footer">
      <div class="container-fluid">
      <div class="row-fluid">
        <div class="span6">
          <strong>SPONSORS</strong><br>
          <a href="http://www.internet-science.eu/">
            <img src="/img/sponsor/eins.jpg" style="margin-right:10px;"/>
          </a>
          <a href="http://www.larc.smu.edu.sg/" style="margin-right:10px;">
            <img src="/img/sponsor/larc.png"/>
          </a>
          <a href="http://research.nokia.com/">
            <img src="/img/sponsor/nokia.png"/>
          </a>
        </div>
        <div class="span4">
          <i class="icon-envelope"></i>
          <a href="mailto:socinfo2012@epfl.ch">Contact us</a>
          <br>
          <br>
          <i class="icon-calendar"></i>
          Latest revision: {{ site.time | date: "%d %B %Y" }}
          <br>
          <i class="icon-wrench"></i>
          Built with <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>
            and <a href="http://jekyllrb.com/">Jekyll</a>.
          <br>
          <i class="icon-eye-open"></i>
          Source code available on <a href="https://github.com/LSIR/socinfo2012.com">GitHub</a>.         
        </div>
        <div class="span2">
          <!--Twitter button-->
          <a href="https://twitter.com/share" class="twitter-share-button" 
              data-url="http://www.socinfo2012.com" 
              data-text="Check the 4th International Conference on Social Informatics!" 
              data-via="SocInfo2012">Tweet</a>
          <br>
          <!--Like button-->
          <div class="fb-like" data-href="http://www.socinfo2012.com" data-send="false"
              data-layout="button_count" data-width="150" data-show-faces="false">
          </div>
          <br>
          <!--+1 button-->
          <g:plusone size="medium" width="150" annotation="inline"></g:plusone>
        </div><!--/.span4-->
      </div><!--/.row-fluid-->
      </div><!--/.container-fluid-->
    </div>

    <!-- Le javascript
    ================================================== -->
    <script src="http://lesscss.googlecode.com/files/less-1.3.0.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>

    <!--FB Like button JS-->
    <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=272850152738416";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    <!--Google +1 button JS-->
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>

    <!--Twitter button JS-->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
        if(!d.getElementById(id)){js=d.createElement(s);js.id=id;
        js.src="//platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js,fjs);}}
        (document,"script","twitter-wjs");
    </script>

  </body>
</html>

