---
title: Social Program
layout: default
---

<div class="page-header">
  <h1>Conference Reception (4 December 2012)</h1>
</div>
	
<h3 class="uppercase">Cocktail at 19:00</h3>
<p>
  Drinks and foods will be provided to the SocInfo 2012 participants at the Starling Hotel.
  <br>
  The hotel is situated next to the campus (just facing the Rolex Learning Center) and it sports a superb view of the Geneva Lake.
</p>

<div class="row-fluid">
  <div class="span7">
  	<img src="/img/social/sterling.jpg" style="margin: 20px 0px 20px;">
  </div>
  <div class="span5">
  	<p style="margin-top:20px;">
  	<em>Hotel Starling</em><br>
    <i class="icon-globe"></i> <a href="https://maps.google.com/maps?q=Route+Cantonale+31,+1025+Saint-Sulpice&hl=en&sll=37.0625,-95.677068&sspn=53.080379,81.650391&t=h&hnear=Route+Cantonale+31,+1025+Saint-Sulpice,+Vaud,+Switzerland&z=16">Route Cantonale 31, 1025 Saint-Sulpice</a>
    <br>
    <i class="icon-envelope"></i> <a href="mailto:info@shlausanne.ch">info@shlausanne.ch</a>
    <br>
    <abbr title="Phone">P:</abbr> +41 21 694 85 85 /
    <abbr title="Fax">F:</abbr> +41 21 694 85 86 
	</p>
  </div>
</div><!--/.row-fluid-->

{% include top.html %}

<div class="page-header" style="margin-top:60px;">
  <h1>Conference Dinner (5 December 2012)</h1>
</div>

<h3 class="uppercase">Dinner at the Montreux’s Christmas Market</h3>
<p>
	Entry to the conference dinner will be for participants who have registered for the conference and those who have purchased additional dinner tickets.
</p>
<p>
	Considering that we will be leaving directly from the Conference room, and that the weather could be cold and damp, <strong>we strongly recommend bringing warm clothes with you</strong>.
</p>

<div class="row-fluid">
  <div class="span6">
  	<img src="/img/social/montreux1.jpg" style="margin: 10px 10px 20px 0px;">
  </div>
  <div class="span6">
  	<img src="/img/social/montreux2.jpg" style="margin: 10px 0px 20px 10px;">
  </div>
</div><!--/.row-fluid-->

<table class="table table-striped table-bordered" style="width:540px; margin-left:auto; margin-right:auto;">
  <colgroup span="1" style="width:20%;"></colgroup> 
  <colgroup span="1" style="width:80%;"></colgroup> 
  <tbody>
    <tr><td>
    	<strong>18:15</strong>
    </td><td>
        Meeting at the <a href="http://maps.google.com/maps?q=avenue+piccard,+epfl,+lausanne&hl=en&ll=46.520225,6.568424&spn=0.000782,0.001021&sll=46.508008,6.551193&sspn=0.281188,0.522537&hnear=Avenue+Piccard,+1015+Ecublens,+Vaud,+Switzerland&t=h&z=20">bus stop (Piccard)</a>, near the EPFL Post Office
    </td></tr>
    <tr><td>
    	<strong>18:30</strong>
    </td><td>
        Departure for Montreux
    </td></tr>
    <tr><td>
    	<strong>19:15 (approx)</strong>
    </td><td>
    	Arrival at the Montreux’s Christmas Market
    </td></tr>
    <tr><td>
    	<strong>20:00</strong>
    </td><td>
        Christmas Market ends
    </td></tr>
    <tr><td>
    	<strong>20:15</strong>
    </td><td>
    	Dinner at the restaurant <em>"La Poya"</em>
    </td></tr>
    <tr><td>
    	<strong>23:00</strong>
    </td><td>
    	 Departure for Lausanne
    </td></tr>
        <tr><td>
    	<strong>23:45 (approx)</strong>
    </td><td>
    	 Arrival at EPFL, after one stop in Lausanne downtown
    </td></tr>
  </tbody>
</table>

{% include top.html %}

<div class="page-header" style="margin-top:60px;">
  <h1>Scientific Concert (6 December 2012)</h1>
</div>

<h3 class="uppercase">6 research megaprojects set to music by the Geneva Brass Quintet</h3>

<div class="row-fluid">
  <div class="span7">
  	<img src="/img/social/quintet.jpg" style="margin: 20px 0px 20px;">
  </div>
  <div class="span5">
  	<p style="margin-top:20px;">
  		Forum Rolex Learning Center<br>
		<strong>Thursday 6 December 2012, 18:15</strong><br>
		<em>Free Entrance</em>
		<br><br>
		Take this opportunity to <a href="http://rolexlearningcenter.epfl.ch">visit the Rolex Learning Center</a>!
		<br><br>
		 <a class="btn btn-primary btn-large" href="/img/social/ScientificConcert.pdf">Read More</a>
	</p>
  </div>
</div><!--/.row-fluid-->


<div class="well" style="width:500px; margin-left:auto; margin-right:auto; margin-top:20px; margin-bottom:20px;">
	<p>
		In 2010, the European Union launched a contest aimed at delivering 1 billion euros to a research project (FET Flagship Initiatives). After a first selection among 26 projects submitted, 6 are still competing. The winner will be nominated at the beginning of February 2013. 
	</p>
	<p>
		All projects are absolutely fascinating and will extend the horizons of science. Their themes are: <strong>sensors, the brain, simulations, virtual avatars, robots, and graphene</strong>.
	</p>
	<hr>
	<p>
		The idea is to set these 6 scientific projects to music during a concert. There will be 6 scenes, one for each project.
	</p><p>	
		Every scene will be opened by <strong>Daniel Saraga</strong>, a science journalist, who will describe the scientific project. The project will then be set to music by the “<strong>Geneva Brass Quintet</strong>” (2 trumpets, horn, trombone and tuba). The music chosen for each scene reflects the scientific content of each project.
	</p><p>	
		Each scene will last more or less 15 minutes, with 5 minutes allocated to the project description and 10 minutes to music. The concert will thus <strong>last approximately 1h30</strong>.
	</p><p>	
		This event, at the border between music and science, will enable scientists and the general public to meet and dialogue. With the help of music, the major scientific projects of the 21st century will become concrete for the general public.
	</p>
</div>

{% include top.html %}
