---
title: Location
layout: default
---

<section id="venues">
<div class="page-header">
  <h1>Venues</h1>
</div>
<p>
  SocInfo 2012 will take place at <a href="http://epfl.ch">EPFL</a>, in Lausanne,
  Switzerland. 
  <br>
  The main conference room will be the <a href="http://map.epfl.ch/?zoom=19&recenter_y=5864149.5832&recenter_x=731242.08054&layerNodes=fonds,batiments,labels,events_surface,events_line,events_label,information,parkings_publics,arrets_metro,evenements,evenements_informations,evenements_scenes,evenements_nourriture,evenements_boissons,evenements_entrees,evenements_presse,evenements_infirmerie&floor=1&q=salle_polyvalente">Salle Polyvalente (SPO)</a>, with parallel sessions happening in <a href="http://map.epfl.ch/?zoom=19&recenter_y=5864172.49775&recenter_x=731362.3379&layerNodes=fonds,batiments,labels,events_surface,events_line,events_label,information,parkings_publics,arrets_metro,evenements,evenements_informations,evenements_scenes,evenements_nourriture,evenements_boissons,evenements_entrees,evenements_presse,evenements_infirmerie&floor=1&q=ce101">CE 101</a>.
  </p>
  <p>
  The workshops will happen in the following rooms:
  <ul>
    <li>JITSO Workshop: <a href="http://map.epfl.ch/?zoom=19&recenter_y=5863832.13495&recenter_x=730454.1701&layerNodes=fonds,batiments,labels,events_surface,events_line,events_label,information,parkings_publics,arrets_metro,evenements,evenements_informations,evenements_scenes,evenements_nourriture,evenements_boissons,evenements_entrees,evenements_presse,evenements_infirmerie&floor=4&q=bc420">BC 420, EPFL</a></li>
    <li>EINS Workshop: <a href="http://map.epfl.ch/?zoom=19&recenter_y=5863851.82523&recenter_x=730453.9841&layerNodes=fonds,batiments,labels,events_surface,events_line,events_label,information,parkings_publics,arrets_metro,evenements,evenements_informations,evenements_scenes,evenements_nourriture,evenements_boissons,evenements_entrees,evenements_presse,evenements_infirmerie&floor=4&q=bc410">BC 410, EPFL</a></li>
    <li>FuturICT Meeting: <a href="http://map.epfl.ch/?zoom=19&recenter_y=5864184.06293&recenter_x=731466.55638&layerNodes=fonds,batiments,labels,events_surface,events_line,events_label,information,parkings_publics,arrets_metro,evenements,evenements_informations,evenements_scenes,evenements_nourriture,evenements_boissons,evenements_entrees,evenements_presse,evenements_infirmerie&floor=1&q=ce105">CE 105, EPFL</a></li>
  </ul>
  </p>
  <p>
  Public Wi-Fi access will be provided, as well as extension cords and power strips. <em>Please do not forget to bring the appropriate <a href="http://en.wikipedia.org/wiki/AC_power_plugs_and_sockets#Swiss_SEV_1011_.28Swiss_10.C2.A0A.2F250.C2.A0V.29">plug adapter</a>!</em>
</p>
<p>
  <i class="icon-globe"></i>
  Check also the detailed guide on 
  <a href="http://information.epfl.ch/access">how to access the EPFL campus</a>.
</p>
<p>
  <img src="/img/IC-SocInfo2012_PLAN.jpg" alt="SocInfo 2012 Logistics">
</p>
</section>

{% include top.html %}

<section id="EPFL">
<div class="page-header">
  <h1>EPFL</h1>
</div>
<p>
  EPFL is one of the two Swiss Federal Institutes of Technology. With the status
  of a national school since 1969, the young engineering school has grown in 
  many dimensions, to the extent of becoming <strong>one of the most famous European 
  institutions of science and technology</strong>.
</p>
<p>
  With over 350 laboratories and research groups on campus, EPFL is one of 
  Europe’s most innovative and productive scientific institutions. Ranked <em>top 3</em>
  in Europe and <em>top 20</em> worldwide in many scientific rankings, EPFL has attracted
  the best researchers in their fields.
  Its main campus brings together over 11,000 persons, students, researchers and staff.
</p>
<p>
  <i class="icon-globe"></i>
  EPFL is located in Lausanne, Switzerland, on the shores of the largest lake
  in Europe, <strong>Lake Geneva</strong> and at the foot of the <strong>Alps 
  and Mont-Blanc</strong>.
</p>
<div id="epflCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="/img/epfl/1.jpg" alt="">
      <div class="carousel-caption">
        <h4>EPFL campus</h4>
      </div>
    </div>
    <div class="item">
      <img src="/img/epfl/2.jpg" alt="">
      <div class="carousel-caption">
        <h4>Computer Science building (1)</h4>
      </div>
    </div>
    <div class="item">
      <img src="/img/epfl/3.jpg" alt="">
      <div class="carousel-caption">
        <h4>Computer Science building (2)</h4>
      </div>
    </div>
    <div class="item">
      <img src="/img/epfl/4.jpg" alt="">
      <div class="carousel-caption">
        <h4>Rolex Learning Center (1)</h4>
      </div>
    </div>
    <div class="item">
      <img src="/img/epfl/5.jpg" alt="">
      <div class="carousel-caption">
        <h4>Rolex Learning Center (2)</h4>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#epflCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#epflCarousel" data-slide="next">&rsaquo;</a>
</div>
</section>

{% include top.html %}

<section id="Lausanne">
<div class="page-header">
  <h1>Lausanne</h1>
</div>
<p>
  <a href="http://en.wikipedia.org/wiki/Lausanne">Lausanne</a> (<small>French 
  pronunciation: [loˈzan]</small>) is a city in Romandy, the 
  French-speaking part of Switzerland, and is the capital of the canton of Vaud.
  The city is situated on the shores of Lake Geneva (<small>French: Lac Léman
  </small>). It faces the French town of Évian-les-Bains, with the Jura mountains
  to its north-west. Lausanne is located 62 km (39 mi) <strong>northeast of 
  Geneva</strong>.
</p>
<div id="lausanneCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="/img/lausanne/1.jpg" alt="">
      <div class="carousel-caption">
        <h4>Ouchy Boardwalk</h4>
      </div>
    </div>
    <div class="item">
      <img src="/img/lausanne/2.jpg" alt="">
      <div class="carousel-caption">
        <h4>Downtown (1)</h4>
      </div>
    </div>
    <div class="item">
      <img src="/img/lausanne/3.jpg" alt="">
      <div class="carousel-caption">
        <h4>Downtown (2)</h4>
      </div>
    </div>
    <div class="item">
      <img src="/img/lausanne/4.jpg" alt="">
      <div class="carousel-caption">
        <h4>Chateau d'Ouchy</h4>
      </div>
    </div>
    <div class="item">
      <img src="/img/lausanne/5.jpg" alt="">
      <div class="carousel-caption">
        <h4>Castle St-Marie</h4>
      </div>
    </div>
    <div class="item">
      <img src="/img/lausanne/6.jpg" alt="">
      <div class="carousel-caption">
        <h4>Lausanne Cathedral</h4>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#lausanneCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#lausanneCarousel" data-slide="next">&rsaquo;</a>
</div>
<p>
  Lausanne has a population (as of December 2010) of 127,821, making it the fifth
  largest city of the country, with the entire agglomeration area having over
  330,000 inhabitants. The Metropolitan Area of Lausanne-Geneva is over 1.2
  million inhabitants. The <em>headquarters of the International Olympic Committee</em>
  are located in Lausanne – the IOC officially recognises the city as the Capitale
  Olympique – as are the headquarters of the Court of Arbitration for Sport. It
  lies in the middle of a <strong>wine region</strong>. 
  The city has a 28-station metro system, making it the smallest city in the 
  world to have a rapid transit system.
</p>
<p>
  <i class="icon-globe"></i>
  <a href="http://information.epfl.ch/page-16451-en.html">All about Switzerland</a>
</p>
<div id="areaCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="/img/area/1.jpg" alt="">
      <div class="carousel-caption">
        <h4>Church over Montreux Riviera</h4>
      </div>
    </div>
    <div class="item">
      <img src="/img/area/2.jpg" alt="">
      <div class="carousel-caption">
        <h4>Lake Geneva</h4>
      </div>
    </div>
    <div class="item">
      <img src="/img/area/3.jpg" alt="">
      <div class="carousel-caption">
        <h4>Chillon Castle in Montreux</h4>
      </div>
    </div>
    <div class="item">
      <img src="/img/area/4.jpg" alt="">
      <div class="carousel-caption">
        <h4>Marina in Morges</h4>
      </div>
    </div>
    <div class="item">
      <img src="/img/area/5.jpg" alt="">
      <div class="carousel-caption">
        <h4>Sunset on the lake</h4>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#areaCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#areaCarousel" data-slide="next">&rsaquo;</a>
</div>
</section>

{% include top.html %}
<p>
  <i class="icon-camera"></i>
  Photo credits: <a href="http://www.flickr.com/photos/alexannecy/">Alexandru Arion</a> 
  and <a href="http://www.flickr.com/photos/xaeroman">Saket Sathe</a>.
</p>
